@use './styles/colors' as *;

:root[color-scheme="dark"] {
	color: $orange-400;
	background-color: $background-amoled;

	button{
		color: $orange-400;
		text-decoration: none;
	}

	input {
		color: $orange-400;
	}

	color-scheme: dark;
}

:root[color-scheme="light"] {
	color: $dark-700;
	background-color: $white;

	button{
		color: $dark-900;
	}

	input {
		color: $dark-700;
	}

	color-scheme: light;
}

.App{
	font-family: var(--font-base);
}

.flex {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100vw;
	flex-direction: column;
	gap: 0.4em;
}

.wrapper{
	flex: 1 1 100%;
	position: relative;
	display: grid;
	gap: 0.2em;	
}

.btn {
	width: 32px;
	height: 32px;
}